<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/vue"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <script type="text/x-template" id="row-set-template">
        <tr align='right'>
            <td>{{set.numReps}}</td>
            <td v-for='baselineValue in baselineValues'>
                <span>{{weightValue(baselineValue.value)}}</span>
            </td>
            <td>{{set.percentage}}%</td>
            <td>
                <a class="button is-warning is-small" @click="$emit('remove-set', index)">Delete</a>
            </td>
        </tr>
    </script>
    <script type="text/x-template" id="sets-table-template">
        <table class='sets-container table is-striped'>
            <thead>
                <tr>
                    <th>Reps</th>
                    <th v-for='baselineValue in baselineValues'>
                        <span v-if='baselineValue.type === "kilos"'>Weight (kgs)</span>
                        <span v-else>Weight (lbs)</span>
                    </th>
                    <th>Percentage</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <row-set v-for='(set, index) in sets' 
                    v-bind:key='index'
                    v-bind:index='index'
                    v-bind:set='set'
                    v-bind:baseline-values='baselineValues'
                    v-on:remove-set="onClickDeleteRow"
                >
                </row-set>
            </tbody>
        </table>
    </script>
    <body>
        <div id='app'>
            <div class='baseline-container is-grouped'>
                <div class='field has-addons'>
                    <p class='control'>
                        <input class='input' type='number'  v-model='currentBaselinePoundsValue' name='pounds-input' @change='updateValues("POUNDS", $event)'/>
                    </p>
                    <p class='control is-expanded'><a class='button is-static'>pounds</a></p>
                </div>

                <div class='field has-addons'>
                    <p class='control is-expanded'>
                        <input class='input' type='number' v-model='currentBaselineKilosValue' name='kilos-input' @change='updateValues("KILOS", $event)'/>
                    </p>
                    <p class='control'><a class='button is-static'>kilos</a></p>
                </div>
            </div>
            <div class='show-buttons-container buttons has-addons'>
                <span class='button' @click='switchTabToPounds' v-bind:class="poundsSelected">Show Pounds</span>
                <span class='button' @click='switchTabToShowBoth' v-bind:class="bothSelected">Both</span>
                <span class='button' @click='switchTabToKilos' v-bind:class="kilosSelected">Show Kilos</span>
            </div>
            <div class='is-grouped new-set is-centered'>
                <div class='field has-addons'>
                    <p class='control is-expanded'>
                        <input class='input ' type='number' v-model='newSetPercentage' />
                    </p>
                    <p class='control'><a class='button is-static'>%</a></p>
                </div>
                <div class='field has-addons'>
                    <p class='control is-expanded'>
                        <input class='input' type='number' v-model='newSetNumReps' />
                    </p>
                    <p class='control'><a class='button is-static'>reps</a></p>
                </div>
                <div class='add-set-button'>
                    <a @click='addSet' class='control button is-centered is-primary' :disabled="addSetDisabled">Add Set</a>
                </div>
            </div>
            <div class='sets-container' v-if='sets.length > 0'>
                <sets-table
                    v-bind:sets="sets"
                    v-bind:metric="currentMetric"
                    v-bind:baseline-values="baselineValues"
                    v-on:remove-set="onRemoveSet"
                >
                </sets-table>
            </div>
        </div>
    </body>
    <script src="percentage-calculator.js"></script>
</html>