body {
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    height: 100vh;
    width: 100vw;
}

#app {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      flex: 1;  
    }
}


.field.is-grouped  {
    align-items: center;
    justify-content: center;

    > .control {
        flex-shrink: 1;
    }   
}

.table tbody tr td {
    text-align: right;
}

.baseline-container {
    margin: 50px 0;
}

.add-set-button {
    .button {
        width: 245px;
    }
}

.sets-container {
    margin-top: 60px;
}
